<footer class="container">
  <hr class="my-1" />
  <small>
    <a href='https://github.com/uniqueimaginate'>Donguk's Github</a>
    <a href="https://likelion.net">Likelion Homepage</a>
  </small>
  <nav>
    <ul>
      <li><%=link_to 'About', front_pages_about_path %></li>
      <li><%=link_to 'Contact', front_pages_contact_path %></li>
      <li><%=link_to 'Log in', '#' %></li>
    </ul>
  </nav>
</footer>